<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/main.css')}}">
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">ASL Translation Project</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <a href = "#asl"><p class="w3-large w3-center">Click to begin</p></a>
  </div>s
</div>

<div class = " w3-display-container w3-animate-opacity" id = "asl">
<div class="w3-display-middle">
<table>
  <tbody>
  <tr>
    <td><div id="my_camera" style="width:320px; height:240px;"></div></td>
    <td>
      <a href = {{ url }}> Test</a>
    </td>
  </tr>
  </tbody>
</table>
</div>

</body>
</html>
